body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    height: 100hv;
}

canvas {
    border: 4px solid black;
}

.touch-cell-container {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
}

.touch-cell {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(2, 2, 2, 0.1);
}

.touch-cell::before {
    content: '';
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.touch-leftTop {
    background-color: rgba(1, 1, 1, 0.1);
}

.touch-top {
    background-color: rgba(1, 1, 1, 0.1);
}

.touch-top::before { 
    content: 'rotate'
}

.touch-rightTop {
    background-color: rgba(1, 1, 1, 0.1);
}

.touch-leftBottom {
    background-color: rgba(1, 1, 1, 0.1);
}

.touch-bottom {
    background-color: rgba(1, 1, 1, 0.1);
}

.touch-bottom::before { 
    content: 'down'
}

.touch-rightBottom {
    background-color: rgba(1, 1, 1, 0.1);
}

.touch-left {
    background-color: rgba(1, 1, 1, 0.1);
}

.touch-right::before { 
    content: 'right'
}

.touch-left::before { 
    content: 'left'
}

.touch-center {
    
}

.touch-right {
    background-color: rgba(1, 1, 1, 0.1);
}